.main_header{
    height: var(--header-height);
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1000px) {
    .main_header {
        height: 10vh;
    }
}

@media screen and (max-width:400px) {
    .main_header {
        height: 12vh;
        font-size: medium;
    }
}