.btn {
    background-color: #7e4b8b;
    min-height: 3rem;
    min-width: 12rem;
    /* border: 2px solid #7e4b8b; */
    border: 5px solid #f8ccf9;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    transform-origin: center;
    transform: skewX(-20deg);
    /* box-shadow: 5px 10px  #ae9da9; */
    font-family: cursive, 'Odibee Sans';
    cursor: pointer;
    transition: all 0.01s ease-in;
}

.btn:hover {
    font-size: large;
}

.btn:active {
    font-size: large;
    transform: translateY(-4px);
}

.btn:disabled{
    cursor: not-allowed;
    font-size: inherit;
}


@media screen and (max-width:1000px) {
    .btn {
        min-height: 3rem;
        min-width: 12rem;
    }

    .btn:hover {
        font-size: large;
    }

    .btn:active {
        font-size: large;
        transform: translateY(-4px);
    }
}

@media screen and (max-width:400px) {
    .btn:hover {
        font-size: xx-large;
    }

    .btn:active {
        font-size: large;
        transform: translateY(-4px);
    }
}